<h2>Contact</h2>

<!--

    ?. - elvis operator - null check within template

-->

<p> Main Office City {{mainOffice?.city}} </p>

<!-- DOM reference -->

<p #message> </p>
<input #greeting />

<button (click)="message.textContent = greeting.value">
    Set Message
</button>

<!-- contact is parent component 
    address is child component

    parent to  child, 
        property binding, @Input
-->

<!--

    @Ouput
    contactEvent

-->
<app-address [address]="headOffice"
             (contactEvent)="contactHandler($event)"
>
    <h4>Head Office</h4>
</app-address>

<app-address [address]="branchOffice"
        (contactEvent)="contactHandler($event)"
>
    <h4>Branch Office</h4>
</app-address>

<pre>
{{headOffice | json}} 
</pre>