<h2>Counter</h2>

<!--
 {{expression}} - interpolation,
    evaluate the expression
    convert results to string


 [property-name]="expr" - property binding
    
    property="fixedValue"

 (eventName)="expr" - event binding

    two way binding [ property + event binding]
 [(property)] = "counter" --> counter  = $event

-->

<p>Counter {{counter}}</p>
<p>Counter + 1 = {{counter + 1}}</p>

<div>
    <span>Counter</span>
    <input [value]="counter" />
</div>

<div>
    <span>Two Way Binding</span>
    <input [(ngModel)]="counter" type="number" />
</div>

<div>
    <span>Two Way Binding</span>
    <input [ngModel]="counter"
           (ngModelChange) = "counter = $event" 
    type="number" />
</div>

<button [disabled]="counter % 2 == 0" >
    {{counter % 2 == 0? "Disabled": "Enabled" }}
</button>

<!-- $event is fixed/hardcoded parameter -->
<button (click)="increment($event)">
    +1
</button>

<button (click)="counter = counter - 1">
    -1
</button>


<p> Power Pipe 2^counter =  {{ 2 | power:counter}}</p>
<p> Power Pipe counter^3 =  {{ counter | power:3}}</p>
<p> Power Pipe counter^counter =  {{ counter | power:counter}}</p>
